<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Source Opener"
            id="net.simsa.sourceopener">
      </category>
      <view
            name="Recent Files"
            icon="icons/sample.gif"
            category="net.simsa.sourceopener"
            class="net.simsa.sourceopener.views.RecentFilesView"
            id="net.simsa.sourceopener.views.RecentFilesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="net.simsa.sourceopener.views.RecentFilesView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
