<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Source Opener"
            id="net.ftlines.wicketsource.sourceopener">
      </category>
      <view
            allowMultiple="false"
            category="net.ftlines.wicketsource.sourceopener"
            class="net.ftlines.wicketsource.sourceopener.views.RecentFilesView"
            icon="icons/sample.gif"
            id="net.ftlines.wicketsource.sourceopener.views.RecentFilesView"
            name="Recent File Locations">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="net.ftlines.wicketsource.sourceopener.views.RecentFilesView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.ftlines.wicketsource.sourceopener.preferences.SourceOpenerPreferencePage"
            id="net.ftlines.wicketsource.sourceopener.preferences.SourceOpenerPreferencePage"
            name="SourceOpener Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.ftlines.wicketsource.sourceopener.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
   </extension>

</plugin>
